* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 0.625vw;
}

li {
  list-style: none;
}

#wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: #000;
  top: 0;
}

.cont {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  left: 0;
}

#guide {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
}

#cont_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  background: salmon;
  font-size: 10vw;
  color: #fff;
}

#cont_2 {
  top: 100%;
  background: #fff;
  -webkit-transition: top 1s;
  transition: top 1s;
}

#slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  width: 200vw;
  height: 400px;
  top: calc(50% - 150px);
  left: 10vw;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#slider li {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  height: 100%;
  aspect-ratio: 1/1;
  margin: 0 200px 0 0;
  background: slategray;
  border: 2px solid black;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

#slider li:nth-child(2n) {
  top: -20%;
}

#slider li:nth-child(3n) {
  top: 20%;
}

#slider li div {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(252, 251, 251, 0.7);
}

.redSpan {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transition: all .8s;
  transition: all .8s;
  z-index: 10;
}
