* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 0.625vw;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

#wrap {
  width: 100%;
  height: auto;
  position: relative;
}

#load {
  width: 100%;
  height: 100vh;
  background-color: green;
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transform: translate();
          transform: translate();
}

#open_page {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

#open_page .left_page {
  width: 82.5%;
  height: 100%;
  background-color: #000;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

#open_page .hook {
  width: 5%;
  height: 100%;
  background-color: #858585;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#open_page .hook p {
  font-size: 1.5rem;
  color: #ffffff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-bottom: 2rem;
  padding-bottom: 0.4rem;
  font-weight: bold;
}

#open_page .hook img {
  width: 1rem;
  height: auto;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#open_page .right_page {
  width: 12.5%;
  height: 100%;
  background-color: #000;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
  position: relative;
}

#skill_wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  background-color: #f2f2f2;
}

#skill_wrap .dm_btn {
  border: 0.1rem solid white;
  line-height: 3rem;
  font-size: 1.2rem;
  position: absolute;
  bottom: 5%;
  right: 7%;
  padding: 0.6rem 1.9rem;
  border-radius: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  z-index: 500;
}

#skill_wrap .dm_btn:hover {
  background-color: white;
  color: black;
}

#skill_wrap .dm_btn img {
  color: white;
  margin: 0.3rem 1rem 0 0;
}

#skill_wrap .dm_btn span {
  font-weight: bold;
  margin-left: 0.5rem;
}

.skill {
  width: 300%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.skill li {
  width: 100vw;
  height: 100%;
  border: 1px solid black;
}

.detail {
  background-color: #c4c4c4;
  position: relative;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.detail_overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: green;
  width: 0;
  height: 100%;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

#project_wrap {
  width: 100%;
  height: 250vh;
  position: relative;
}

#project_wrap .mac {
  width: 100%;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.imgbox {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
}

.imgbox img {
  position: relative;
  width: 77em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.img_overlay {
  position: absolute;
  width: 75em;
  line-height: 42rem;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -65.5%);
          transform: translate(-50%, -65.5%);
  background-color: black;
  -webkit-transition: 0.75s ease-in-out;
  transition: 0.75s ease-in-out;
}

.img_overlay h2 {
  font-size: 15rem;
  color: black;
  text-align: center;
}

#project {
  position: relative;
  top: 0;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.middle_line {
  position: fixed;
  top: 42%;
  left: 8rem;
  width: 5%;
  height: 0.15rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, black), to(white));
  background: linear-gradient(to right, black 50%, white);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  opacity: 0;
  z-index: 20;
}

.guide {
  width: 45%;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.guide div {
  padding: 3rem 0 0 8rem;
}

.site_name {
  width: 100%;
  height: 42%;
  position: relative;
}

.site_name h4 {
  position: absolute;
  bottom: 3rem;
  font-size: 3rem;
}

.site_detail {
  width: 100%;
  height: 58%;
}

.site_detail h2 {
  font-size: 5rem;
}

.site_detail p {
  margin-top: 2rem;
}

.site_txt {
  width: auto;
  height: 100%;
  font-size: 1.75rem;
  line-height: 2.2rem;
  -webkit-transition: 1s ease-in-out all;
  transition: 1s ease-in-out all;
}

.site_txt:nth-child(2n+1) {
  margin-right: 3rem;
  text-align: right;
  -webkit-transform: skew(0deg, 5deg);
          transform: skew(0deg, 5deg);
  margin-top: 15rem;
}

.site_txt:nth-child(2n) {
  margin-left: 3rem;
  -webkit-transform: skew(0deg, -5deg);
          transform: skew(0deg, -5deg);
  margin-top: 15rem;
}

.site_view {
  width: 55%;
}

.site_view li {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site_view li:first-child {
  height: 100vh;
}

.site_img_box {
  width: 55rem;
  height: 37.5rem;
  background-color: #f3f3f3;
  -webkit-box-shadow: 10px 10px 10px #c4c4c4;
          box-shadow: 10px 10px 10px #c4c4c4;
  border-radius: 20px 0 20px;
  -webkit-transform: skew(0deg, 5deg);
          transform: skew(0deg, 5deg);
  margin-top: 15rem;
  -webkit-transition: 1s ease-in-out all;
  transition: 1s ease-in-out all;
  overflow: hidden;
  position: relative;
}

.site_img_box img {
  width: 100rem;
  -webkit-transform: rotate3d(1, 0, -1, 33deg) scale(5);
          transform: rotate3d(1, 0, -1, 33deg) scale(5);
  position: absolute;
  top: -5rem;
  left: -17.5rem;
}

#mail {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
}

.fade_in {
  opacity: 1;
}

.fade_out {
  opacity: 1;
}

.block {
  display: block;
}

.none {
  display: none;
}
