@charset "UTF-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$basic_font : 'Noto Sans KR',
sans-serif;
$eng_font :'Montserrat',
sans-serif;
$point_font : 'Archivo',
'NanumSquareRound',
sans-serif;

body {
    -ms-overflow-style: none;
    font-family: $basic_font;
}

::-webkit-scrollbar {
    display: none;
}


html {
    font-size: 0.625vw;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;

}

#wrap {
    width: 100%;
    height: auto;
    position: relative;
}

#load {
    width: 100%;
    height: 100vh;
    background-color: green;
    position: absolute;
    top: 0;
    opacity: 0;
    transform: translate();
}

#open_page {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    transition: 1s ease-in-out;

    .hook {
        width: 5%;
        height: 100%;
        background-color: rgb(36, 36, 36);
        transition: 1s all ease-in-out;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-family: $eng_font;

        p {
            font-size: 1.5rem;
            color: #ffffff;
            transform: rotate(90deg);
            margin-bottom: 2.5rem;
            padding-bottom: 0.4rem;
            font-weight: bold;
        }

        img {
            width: 1rem;
            margin-left: 0.5rem;
            height: auto;
            transform: rotate(90deg);
        }
    }

    .right_page {
        width: 11.5%;
        height: 100%;
        background-color: #000;
        transition: 1s all ease-in-out;
        position: relative;
    }
}


.left_page {
    width: 83.5%;
    height: 100%;
    background-color: #000;
    transition: 1s all ease-in-out;
    position: relative;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.7rem;

    .left_txt {
        position: absolute;
        top: 50%;
        left: 15rem;
        color: #ffffff;
        transform: translateY(-50%);

        h1 {
            font-size: 10rem;
            font-weight: 50;
            margin-bottom: 5rem;
            font-weight: 600;
            letter-spacing: 0.5rem;
        }

        h3 {
            font-size: 4rem;
            font-weight: 400;
        }

        h4 {
            font-size: 3rem;
            margin-top: 3rem;
            font-weight: 200;
            letter-spacing: 0.3rem;
        }
    }
}


#skill_wrap {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease all;
    background-color: #ffffff;

    // .dm_btn {
    //     line-height: 3rem;
    //     font-size: 1.2rem;
    //     position: absolute;
    //     bottom: 12%;
    //     right: 15%;
    //     padding: 0.6rem 1.9rem;
    //     border-radius: 5rem;
    //     display: flex;
    //     align-items: center;
    //     transition: 0.2s all ease-in-out;
    //     z-index: 500;

    //     img {
    //         margin: 0.3rem 1rem 0 0;
    //     }

    //     span {
    //         font-weight: bold;
    //         margin-left: 0.5rem;
    //     }
    // }
}


.skill {
    width: 350%;
    height: 100vh;
    display: flex;
    position: absolute;
    transition: 0.2s all;

    &>li {
        width: 100vw;
        height: 100%;
        position: relative;

        &:nth-child(2) {
            width: 200vw;
        }
    }
}

.about_title {
    font-size: 3.5rem;
    text-align: center;
    line-height: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s ease-in-out all;
    letter-spacing: 0.3rem;
    p {
        color: #c4c4c4;
        font-size: 2.5rem;
        transition: 0.5s ease-in-out all;
    }
}

.about_contents {
    position: absolute;
    bottom: -20rem;
    left: 25%;
    font-size: 1.25rem;
    line-height: 3rem;
    opacity: 0;
    transition: 1s ease-in-out all;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h4 {
        font-size: 2rem;
        margin-top: 4rem;
        margin-bottom: 1.5rem;
    }
}

.pro{
    display: flex;
    align-items: flex-end;
    margin-bottom: 3rem;

    .my_img{
        width: 15rem;
        height: 20rem;
        background-color: black;
        margin-right: 3rem;

    }
}

.arrow{
    position: absolute;
    bottom:50%;
    right: 15%;
    filter: invert(100%);
    opacity: 0;
}

.detail {
    width: 200vw;
    position: relative;
    opacity: 0;
    overflow: hidden;
    transition: 0.5s all ease-in-out;
    display: flex;
    align-items: center;
}

.detail_overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #c4c4c4;
    width: 0;
    height: 100%;
    transition: 0.5s all ease-in-out;
    z-index: 20;
}

.skill_box {
    width: 200vw;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    li {
        width: 17%;
        height: 100%;
        position: relative;

        &:nth-child(3){

            .chart{

                &:nth-child(1){
                    top: 0;
                 left: 0;
                 width: 100%;
                } 
    
                &:nth-child(2){
                 left: 120%;
                 width: 100%;
                 top: -90%;
                } 
            }
        }

        &:nth-child(4) {
            margin-top: -27rem;
        }

        &:nth-child(5) {

            .chart{

                &:nth-child(1){
                top: 0;
                left: 0;
                width: 100%;
                } 
    
                &:nth-child(2){
                left: 120%;
                width: 100%;
                top: -90%;
                } 
            }
        }

        &:nth-child(6) {

            .chart{

                &:nth-child(1){
                top: -70%;
                left: -20%;
                width: 100%;
                } 
    
                &:nth-child(2){
                 left: 100%;
                 width: 100%;
                 top: -150%;
                } 
            }
        }
    }
}

.active {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 10rem;
    transition: 0.5s all ease-in-out;

    img {
        height: 12.5rem;
        width: 12.5rem;
        filter: grayscale(100%);
        transition: 0.5s all ease-in-out;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: rgb(90, 253, 90);
    }
}

.chart{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    clip-path: circle(40%);
    // transition: 1s all ease-in-out;

    .chart_inner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        clip-path: circle(40%);
        width: 95%;
        height: 95%;
        background-color: #000;
        transition: ease 0.5s all;
    }
}

.active_title {
    font-size: 2rem;
    width: 100%;
    position: absolute;
    bottom: -7.5%;
    transform: translateY(-50%);

    h2{
        font-size: 9rem;
    }

    p{
        font-size: 1.5rem;
        background-color: #c4c4c4;
        display: inline-block;
        color: #000;
        padding: 0 0.5rem;
    }

    li{
        line-height: 3rem;
        font-weight: 300;
        font-size: 1.5rem;
    }
}

.active_txt {
    width: 74%;
    margin-left: 26%;
    padding: 0 3%;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.6rem;
    color: #ffffff;

    h4 {
        opacity: 0;
        transition: ease-in-out 1s all;
    }
}

#project_wrap {
    width: 100%;
    height: 250vh;
    position: relative;

    .mac {
        width: 100%;
        height: 100vh;
        position: sticky;
        top: 0;
        overflow: hidden;
    }
}

.imgbox {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;

    img {
        position: relative;
        width: 77em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.img_overlay {
    position: absolute;
    width: 75em;
    line-height: 42rem;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65.5%);
    background-color: black;
    transition: 0.75s ease-in-out;

    h2 {
        font-size: 15rem;
        color: black;
        text-align: center;
    }
}



#project {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: 0.5s ease-in-out;
}



.middle_line {
    position: fixed;
    top: 42%;
    left: 8rem;
    width: 5%;
    height: 0.1rem;
    background: linear-gradient(to right, black 50%, rgb(255, 255, 255));
    transition: 0.5s all;
    opacity: 0;
    z-index: 20;
}

.guide {
    width: 45%;
    height: 100vh;
    position: sticky;
    top: 0;

    div {
        padding: 1.5rem 0 0 8rem;
    }
}

.site_guide {
    width: 100%;
    height: 42%;
    position: relative;

    h4 {
        position: absolute;
        bottom: 1.5rem;
        font-size: 1.5rem;
    }
}


.site_detail {
    width: 100%;
    height: 58%;
    position: relative;

    h2 {
        font-size: 3.5rem;
    }

    .site_name {
        margin: 5.75rem 0 1.25rem;
        font-size: 1.5rem;
        transition: 0.5s ease-in-out all;
    }

    .site_more {
        border: 1px solid black;
        border-radius: 0.3rem;
        padding: 0.7rem 2rem;
        line-height: 7.5rem;
        color: #000;
    }
}

.site_name_box{
    position: relative;
    width: 100%;
    height: 9rem;

    li{
        position: absolute;
    }
}

.site_explanation_box{
    position: relative;
    width: 100%;

    li{
        position: absolute;
        transition: 0.5s all ease-in-out;

        p{
            font-size: 1.4rem;
            font-weight: 300;
        }
    }
}


.site_title {
    opacity: 0;
    position: absolute;
    top: 1.25rem;
}

.site_txt {
    width: auto;
    height: 100%;
    font-size: 1.2rem;
    line-height: 1.9rem;
    transition: 1s ease-in-out all;

    &:nth-child(2n+1) {
        margin-right: 3rem;
        text-align: right;
        transform: skew(0deg, 5deg);
        margin-top: 15rem;
    }

    &:nth-child(2n) {
        margin-left: 3rem;
        transform: skew(0deg, -5deg);
        margin-top: 15rem;
    }
}

.site_view {
    width: 55%;
    z-index: 500;

    li {
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;

        &:first-child {
            height: 100vh;
        }
    }
}

.site_img_box {
    width: 55rem;
    height: 37.5rem;
    background-color: #f3f3f3;
    box-shadow: 10px 10px 10px #c4c4c4;
    border-radius: 20px 0 20px;
    transform: skew(0deg, 5deg);
    margin-top: 15rem;
    transition: 1s ease-in-out all;
    overflow: hidden;
    position: relative;

    img {
        width: 100rem;
        transform: rotate3d(1, 0, -1, 33deg) scale(5);
        position: absolute;
        top: -5rem;
        left: -17.5rem;
    }
}

.site_overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 5;
    opacity: 0;  
    transition: 0.5s all ease-in-out; 
}

.site_visit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 6;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 300;
    opacity: 0;
    transition: 0.5s all ease-in-out; 
}

#contec {
    width: 100%;
    height: 100vh;
    // position: relative;
    display: flex;
    flex-direction: column;
    padding: 10rem 8rem;
    justify-content: space-between;
}

.contec_head{

    h2{
        font-size: 3.8rem;
        font-weight: 400;
        letter-spacing: -0.3rem;
    }
}

.contec_inner{
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 10rem;

    h5{
        margin-bottom: 2.5rem;
        font-size: 2rem;
        font-weight: 400;
    }
}


//js

// .white_dm {
//     border: 0.2rem solid #ffffff;

//     &:hover {
//         background-color: #ffffff;
//         color: #000;
//     }
// }


// .black_dm {
//     border: 0.2rem solid #000;
//     color: #000;

//     &:hover {
//         background-color: #000;
//         color: #ffffff;
//     }
// }

.about_slide {
        font-size: 1.5rem;
        text-align: left;
        line-height: 4.5rem;
        position: absolute;
        top: 10rem;
        left:19.5%;
        transition: 0.5s ease-in-out all;
        transform: translateX(-50%);
        font-family: $basic_font;

        h3{
            font-weight: 400;
        }

        span{
            display: block;
            font-size: 3.5rem;
            font-weight: 600;
            letter-spacing: 0.2rem;
            margin-top: 1rem;
        }

        p {
            color: #c4c4c4;
            font-size: 1.5rem;
            transition: 0.5s ease-in-out all;
            margin-top: 1rem;
        }
    }
    


.fade_in {
    opacity: 1;
}

.fade_out {
    opacity: 0;
}

.block {
    display: block;
}

.none {
    display: none;
}

.letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.behind {
    transform: rotateX(-90deg);
}

.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.bg_black{
    background-color: #000;
}
