@charset "UTF-8";

@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$basic_font : 'Noto Sans KR',
sans-serif;
$eng_font :'Montserrat',
sans-serif;
$point_font : 'Archivo',
'NanumSquareRound',
sans-serif;

body {
    -ms-overflow-style: none;
    font-family: $basic_font;
}

::-webkit-scrollbar {
    display: none;
}


html {
    font-size: 0.625vw;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;

}

#wrap {
    width: 100%;
    height: auto;
    position: relative;
}

#load {
    width: 100%;
    height: 100vh;
    background-color: green;
    position: absolute;
    top: 0;
    opacity: 0;
    transform: translate();
}

#open_page {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    transition: 1s ease-in-out;

    .hook {
        width: 5%;
        height: 100%;
        background-color: rgba(14, 14, 14, 0.1);
        transition: 1s all ease-in-out;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-family: $eng_font;

        p {
            font-size: 1.5rem;
            color: #ffffff;
            transform: rotate(90deg);
            margin-bottom: 2.5rem;
            padding-bottom: 0.4rem;
            font-weight: bold;
        }

        img {
            width: 1rem;
            margin-left: 0.5rem;
            height: auto;
            transform: rotate(90deg);
        }
    }

    .right_page {
        width: 11.5%;
        height: 100%;
        background-color: #000;
        transition: 1s all ease-in-out;
        position: relative;
    }
}


.left_page {
    width: 83.5%;
    height: 100%;
    background-color: #000;
    transition: 1s all ease-in-out;
    position: relative;
    font-family: 'Archivo', 'NanumSquareRound', sans-serif;

    .left_txt {
        position: absolute;
        top: 50%;
        left: 7rem;
        color: #ffffff;
        transform: translateY(-50%);

        h1 {
            font-size: 10rem;
            font-weight: bold;
            margin-bottom: 5rem;
        }

        h3 {
            font-size: 4rem;
            font-weight: 400;
        }

        h4 {
            font-size: 3rem;
            margin-top: 3rem;
            font-weight: 200;
        }
    }
}


#skill_wrap {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease all;
    background-color: #f2f2f2;

    .dm_btn {
        line-height: 3rem;
        font-size: 1.2rem;
        position: absolute;
        bottom: 5%;
        right: 5%;
        padding: 0.6rem 1.9rem;
        border-radius: 5rem;
        display: flex;
        align-items: center;
        transition: 0.2s all ease-in-out;
        z-index: 500;

        img {
            margin: 0.3rem 1rem 0 0;
        }

        span {
            font-weight: bold;
            margin-left: 0.5rem;
        }
    }
}


.skill {
    width: 375%;
    height: 100vh;
    display: flex;
    position: absolute;
    transition: 0.2s all;

    &>li {
        width: 100vw;
        height: 100%;
        position: relative;

        &:nth-child(2) {
            width: 175vw;
        }
    }
}

.about_title {
    font-size: 5rem;
    text-align: center;
    line-height: 9rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s ease-in-out all;
    letter-spacing: 0.3rem;

    p {
        color: #c4c4c4;
        font-size: 3rem;
        transition: 0.5s ease-in-out all;
    }
}

.about_contents {
    position: absolute;
    bottom: 1rem;
    left: 30rem;
    font-size: 1.25rem;
    line-height: 3rem;
    opacity: 0;
    transition: 1s ease-in-out all;
    transform: translate(-50%, -50%);

    h4 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
}

.detail {
    width: 175vw;
    background: linear-gradient(to right, #f2f2f2, #e5e5e5, #ffffff);
    position: relative;
    opacity: 0;
    overflow: hidden;
    transition: 0.5s all ease-in-out;
    display: flex;
    align-items: center;
}

.detail_overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    width: 0;
    height: 100%;
    transition: 0.5s all ease-in-out;
    z-index: 20;
}

.skill_box {
    width: 175vw;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    li {
        width: 17%;
        height: 100%;
        position: relative;


        &:nth-child(4) {
            margin-top: -27rem;
        }

        &:nth-child(6) {
            margin-top: -33rem;
        }
    }
}

.css_icon {
    width: 200%;
    display: flex;

    img {
        height: 50%;
        margin-right: 3rem;
    }
}

.active {
    width: 60%;
    height: 100%;
    position: absolute;
    top: 10rem;
    transition: 0.5s all ease-in-out;

    img {
        width: 60%;
    }
}

.design {
    width: 60%;
    display: flex;
    justify-content: flex-start;

    img {
        width: 50%;
        margin-right: 3rem;
    }
}

.active_title {
    font-size: 2rem;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.active_txt {
    width: 74%;
    margin-left: 26%;
    padding: 0 3%;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.6rem;

    h4 {
        opacity: 0;
        transition: ease-in-out 1s all;
    }
}

.plus {
    background-color: #ffffff;
}

#project_wrap {
    width: 100%;
    height: 250vh;
    position: relative;

    .mac {
        width: 100%;
        height: 100vh;
        position: sticky;
        top: 0;
        overflow: hidden;
    }
}

.imgbox {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;

    img {
        position: relative;
        width: 77em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.img_overlay {
    position: absolute;
    width: 75em;
    line-height: 42rem;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65.5%);
    background-color: black;
    transition: 0.75s ease-in-out;

    h2 {
        font-size: 15rem;
        color: black;
        text-align: center;
    }
}



#project {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: 0.5s ease-in-out;
}



.middle_line {
    position: fixed;
    top: 42%;
    left: 8rem;
    width: 5%;
    height: 0.1rem;
    background: linear-gradient(to right, black 50%, rgb(255, 255, 255));
    transition: 0.5s all;
    opacity: 0;
    z-index: 20;
}

.guide {
    width: 45%;
    height: 100vh;
    position: sticky;
    top: 0;

    div {
        padding: 1.5rem 0 0 8rem;
    }
}

.site_guide {
    width: 100%;
    height: 42%;
    position: relative;

    h4 {
        position: absolute;
        bottom: 1.5rem;
        font-size: 1.5rem;
    }
}


.site_detail {
    width: 100%;
    height: 58%;
    position: relative;

    h2 {
        font-size: 3.5rem;
    }

    .site_name {
        margin: 5.75rem 0 1.25rem;
        font-size: 1.5rem;
    }

    .site_more {
        border: 1px solid black;
        border-radius: 0.3rem;
        padding: 0.7rem 2rem;
        line-height: 7.5rem;
        color: #000;
    }
}

.site_title {
    opacity: 0;
    position: absolute;
    top: 1.25rem;
}

.site_txt {
    width: auto;
    height: 100%;
    font-size: 1.2rem;
    line-height: 1.9rem;
    transition: 1s ease-in-out all;

    &:nth-child(2n+1) {
        margin-right: 3rem;
        text-align: right;
        transform: skew(0deg, 5deg);
        margin-top: 15rem;
    }

    &:nth-child(2n) {
        margin-left: 3rem;
        transform: skew(0deg, -5deg);
        margin-top: 15rem;
    }
}

.site_view {
    width: 55%;
    z-index: 500;

    li {
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;

        &:first-child {
            height: 100vh;
        }
    }
}

.site_img_box {
    width: 55rem;
    height: 37.5rem;
    background-color: #f3f3f3;
    box-shadow: 10px 10px 10px #c4c4c4;
    border-radius: 20px 0 20px;
    transform: skew(0deg, 5deg);
    margin-top: 15rem;
    transition: 1s ease-in-out all;
    overflow: hidden;
    position: relative;

    img {
        width: 100rem;
        transform: rotate3d(1, 0, -1, 33deg) scale(5);
        position: absolute;
        top: -5rem;
        left: -17.5rem;
    }
}

#mail {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
}


//js

.white_dm {
    border: 0.2rem solid #ffffff;

    &:hover {
        background-color: #ffffff;
        color: #000;
    }
}


.black_dm {
    border: 0.2rem solid #000;
    color: #000;

    &:hover {
        background-color: #000;
        color: #ffffff;
    }
}

.about_slide {
    font-size: 3rem;
    text-align: left;
    line-height: 6rem;
    position: absolute;
    top: 20rem;
    left: 27.5rem;
    transition: 0.5s ease-in-out all;
}

.fade_in {
    opacity: 1;
}

.fade_out {
    opacity: 0;
}

.block {
    display: block;
}

.none {
    display: none;
}

.letter {
    display: inline-block;
    position: relative;
    // float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
